<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- DAO -->
	<bean id="cafeDao" class="br.com.cafeteriaweb.dao.CafeDao" autowire="byType" />
	
	<!-- Controller -->
	<bean id="list" class="br.com.cafeteriaweb.servlet.ListServlet" autowire="byType" />
	<bean id="delete" class="br.com.cafeteriaweb.servlet.DeleteServlet" autowire="byType" />
	<bean id="create" class="br.com.cafeteriaweb.servlet.CreateServlet" autowire="byType" />
	
</beans>